*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-color: rgba(17, 24, 39, 1);
  --bg-color: rgba(250, 251, 255, 1);
  --border-color: rgba(226, 232, 240, 0.8);
  --text-color: rgba(55, 65, 81, 1);
  --form-bg: rgba(249, 250, 251, 1);

  --bg-gradient: linear-gradient(to bottom right, #3466f6, #7c3aed);
  --light-gradient: linear-gradient(to bottom right, #eff6ff, #ddd6fe);

  --inter-font: "Inter", sans-serif;
  --jakarta-font: "Plus Jakarta Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin-left: auto;
  margin-right: auto;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}

/* PADDING */

.p-small {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.p-medium {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.p-large {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

/* BUTTONS */

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1.2rem 3rem;
  font-weight: 500;
  border-radius: 5px;
  font-family: var(--jakarta-font);
}

.btn:active,
.btn:hover {
  box-shadow: 0 5px 10px var(--border-color);
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  border: 1px solid #7c3aed;
  background: #7c3aed;
  color: #fff;
}

.btn-secondary,
.btn-secondary:link,
.btn-secondary:visited {
  border: 1px solid #7c3aed;
  background-color: #fff;
  color: #7c3aed;
}

.buttons {
  margin-top: 5rem;
}

/* TESTIMONIALS */

.testimonial {
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 2rem;
  margin-top: 3rem;
}

.uiface {
  border-radius: 50%;
  box-shadow: 3px 3px 20px var(--border-color);
}

.quote {
  margin-top: 1.2rem;
}

.testimonial-name {
  font-size: 2rem;
  color: var(--body-color);
  font-weight: 600;
  font-family: var(--jakarta-font);
}

.testimonial-role {
  font-size: 1.4rem;
  font-family: var(--inter-font);
  font-style: italic;
}

.testimonial-text {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* GRADIENT */

.gradient {
  background: var(--bg-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1,
h2,
h3 {
  color: var(--body-color);
  font-family: var(--jakarta-font);
}

h1 {
  font-size: 5.2rem;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 3rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.subtitle {
  font-size: 2rem;
  line-height: 1.7;
  margin-bottom: 4rem;
}

.suptitle {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.75px;
  font-family: var(--inter-font);
  color: var(--bg-gradient);
  margin-bottom: 1rem;
}

.number {
  display: inline-block;
  font-size: 5rem;
  font-weight: 900;
  color: var(--border-color);
  margin-bottom: 1rem;
}

.shape {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  top: 10%;
  right: 10%;
  z-index: -10;
  background: var(--light-gradient);
  filter: blur(21px);
}

/* HEADER */
header {
  border-bottom: 1px solid var(--border-color);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-field {
  position: relative;
  width: 35%;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: var(--text-color);
}
.logo {
  font-size: 2.4rem;
  font-weight: 900;
  font-family: var(--jakarta-font);
}

/* HERO SECTION */

.hero-section {
  position: relative;
  margin-top: 7rem;
  padding: 15rem 0;
  /* height: calc(100vh - 7rem); */
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14rem;
}

.sign-box {
  border: 1px solid var(--border-color);
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 3px 3px 20px var(--border-color);
  padding: 4rem;
}

.image-box {
  position: relative;
}

.image-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: linear-gradient(-45deg, #d8b4fe 30%, #f3e8ff);
  filter: blur(72px);
  border-radius: 50%;
  z-index: -1;
}

/* LOGOS */

.logos-section {
  /* padding-top: 5rem; */
  padding-bottom: 10rem;
}

.logos-section {
  text-align: center;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: brightness(0);
  opacity: 0.3;
}
.logos img {
  height: 3.5rem;
}
img.smaller {
  height: 2rem;
}

img.bigger {
  height: 5.5rem;
}

/* HOW IT WORKS SECTION */

.how-section {
  padding: 5rem 0;
}

.steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12rem;
}

.heading {
  padding-bottom: 5rem;
}

.ddd-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  background-color: #fff;
  border: 1px solid var(--border-color);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 3px 3px 20px var(--border-color);
}

.ddd-img img {
  display: block;
  max-width: 100%;
}
/* INFO SECTION */

.info-section {
  padding: 10rem 0;
}

/* .name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
} */

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

/* SKILLS */

.skills-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

/* FOOTER */

footer {
  border-top: 1px solid rgba(60, 60, 60, 0.12);
}

.section-footer {
  padding: 5rem 0;
  text-align: center;
}

.twitter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: #38bdf8;
}
